<%= stylesheet_link_tag "recipes" %>

<div class="public-recipes-container">
  <h1 class='page-header'>Public Recipes</h1>

  <ul class='recipe-list'>
    <% @public_recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </ul>
</div>
